<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, provident praesentium? Blanditiis ducimus doloremque aliquam qui vero voluptates quis odio mollitia a impedit? Delectus, omnis dolores vero exercitationem doloremque incidunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam blanditiis, accusamus eos minus doloremque delectus eligendi amet, recusandae libero quidem ea at! Est aspernatur dolores commodi a ex nulla doloremque?
</p>